* {
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition-duration: 1s;
}
.dark-mode {
    background-color: #161a2e;
    fill: white;
    stroke: white;
    color: white;
    border-color: white;
}
.light-mode {
    background-color: aliceblue;
    color: #161a2e;
    fill: #161a2e;
    stroke: #161a2e;
    border-color: #161a2e;
}
.logo {
    stroke-width: 2;
    fill: none;
    width: 22px;
    height: 20px;
}
line {
    stroke-width: 2;
}
.icon {
    width: 22px;
    height: 20px;
    transition-duration: 0.4s;
    stroke-width: 0;
}
.icon:hover {
    opacity: 0.5;
}
.navigation_container {
    display: flex;
    width: 100%;
    padding: 16px 30px;
    background-color: inherit;
    position: fixed;
}
.navigation_left_container {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.mail {
    letter-spacing: 0.03em;
}
.navigation_link {
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
}
.navigation_link:hover {
    opacity: 0.5;
}
.navigation_right_container {
    display: flex;
    column-gap: 20px;
    align-items: center;
    font-weight: 700;
    flex-grow: 1;
    justify-content: flex-end;
}
.bar > li {
    display: block;
    background-color: #161a2e;
    padding: 1em;
}
.tags:hover > .bar {
    display: flex;
}
ul {
    padding-left: 0;
    list-style: none;
}
.bar {
    display: none;
    padding-top: 1em;
    margin: 0;
    flex-direction: column;
    row-gap: 6px;
    position: absolute;
    background-color: #161a2e;
}
.content {
    display: flex;
    padding: 90px 0 40px;
    flex-direction: column;
    row-gap: 50px;
}
.top_content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}
.photo_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
.arrow {
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
    background-color: inherit;
    border: 0;
    cursor: pointer;
}
.arrow:hover {
    transform: scale(1.3);
}
.photos {
    display: flex;
    width: 930px;
    height: 400px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px 8px rgba(120, 32, 189, 0.61);
    -moz-box-shadow: 0 0 20px 8px rgba(120, 32, 189, 0.61);
    box-shadow: 0 0 20px 8px rgba(120, 32, 189, 0.61);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-out;
}
.sep_image {
    display: flex;
    justify-content: center;
    height: 40vh;
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80);
    background-size: cover;
    background-position: top 30%;
    font-weight: 700;
    font-size: 50px;
    align-items: center;
}
.background_text {
    display: flex;
    color: white;
}
.bottom_content_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.content_card {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    max-width: 60vw;
    transition-duration: 1s;
}
.feed {
    max-width: 50vw;
}
.light {
    background-color: #161a2e;
    color: #ffffff;
}
.dark {
    background-color: #ffffff;
    color: black;
}
.button {
    cursor: pointer;
    display: flex;
    color: inherit;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: inherit;
    background-color: inherit;
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    line-height: 3;
    padding: 0 24px;
    letter-spacing: 0.03em;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: white;
    color: black;
}
.switch_color_theme {
    line-height: 2;
    padding: 0 12px;
    border-radius: 8px;
}

.footer {
    background-color: inherit;
    display: flex;
    padding: 24px 30px;
}
.footer_left {
    display: flex;
    column-gap: 18px;
}
.footer_right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}